body{
    background: #2b303b;
    color: #dee3ec;
}
.header{
    background: #272b34;
    border-bottom: 1px solid #000000;
}
.header .type {
    color: #fff;
}
.header .logo .logo-img {
    background: url("yola.png") no-repeat;
    background-size: contain;
}
.header .logo span button, .header .logo  span button:active, .header .logo  span button:active:hover{
    color: #c1c9d4 !important;
    background: transparent !important;
}
.header .logo  span .dropdown-menu {
    background: #272b34;
}
.header .logo  span .dropdown-menu li a {
    color: #c1c9d4;
}
.header .logo  span .dropdown-menu li a:hover {
    background-color: #2a3138;
}
.header .logo  span .dropdown-menu .divider {
    background-color: transparent;
    border-top: 1px solid #272b34;
    border-bottom: 1px solid #000;
}
.contents {
    border-top: 1px solid #555e65;
}
.contents .attr {
    color: #d8dadd;
}
.contents .left {
    background: #272b34;
    border-right: 1px solid #555e65;
}
.contents .middle {
    background: #272b34;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
}
.contents .right {
    background: #272b34;
    border-left: 1px solid #272b34;
}
.left .content-nav {
    border-bottom: 1px solid #000;
}
.left .content-nav .top-tog {
    color: #d8dadd;
    border-right: 1px solid #000;
    border-left: 1px solid #555e65;
}
.left .content-nav .top-tog:hover, .left .content-nav .active {
    background: #252c33;
    border-left: 1px solid #000;
}
.left .content-body {
    border-top: 1px solid #555e65;
}
.left .content-body .loops .loop-tog {
    border: 1px solid #14171d;
    background: #272b34;
    -webkit-box-shadow: 0px 1px 5px 0px rgba(71,80,88,1);
    -moz-box-shadow: 0px 1px 5px 0px rgba(71,80,88,1);
    box-shadow: 0px 1px 5px 0px rgba(71,80,88,1);
}
.left .content-body .loops .holder:hover {
    background: #222731;
}
.left .content-body .loops .holder i {
    background: #1f577f;
    color: #fff;
    box-shadow: 0px 1px #222731;
}
.left .content-body .loops .holder b {
    color: #aee288;
}
.left .content-body .loops .holder {
    border: 1px solid #6b757e;
}
.left .content-body .loops div .path {
    color: #95a1a9;
}
.left .content-body .loops .id {
    background: #14171d;
}
.exception-type {
    background: #272b34;
    border-bottom: 1px solid #000;
}
.exception-type > .action span{
    background: #272e37;
    border-top: 1px solid #161821;
    border-bottom: 1px solid #3f4750;
}
.exception-type > span{
    background: #6789f8;
}
.exception-msg {
    background: #272b34;
    border-top: 1px solid #555e65;
    border-bottom: 1px solid #555e65;
}
.code-view, .browser-view {
    border-top: 1px solid #000;
}
.code-view table tr td:first-child {
    background: #24374b;
    border-right: 1px solid #0b1016;
}
.code-view table .highlighted td{
    background: #24374b;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}
.code-view table .highlighted td:first-child{
    color: #ec4c4e;
}
.contents .right .global {
    border-top: 1px solid #555e65;
    border-bottom: 1px solid #0d1012;
}
.contents .listed {
    border-bottom: 1px solid #313a46;
}
.contents .right .global .content {
    background: #272b34;
}
.contents .listed .index {
    color: #3689b2;
}
.type-object {background:#5ba415}
.type-null {background:#6789f8}
.type-bool {background:#f8b93c}
.type-array {background:#6db679}
.type-float {background:#9C6E25}
.type-double {background:#ff9999}
.type-string {background:#ff9999}
.type-integer {background:#1BAABB}
.quote-string { color: #ff7c88}

.char-object {color:#5ba415}
.char-null {color:#6789f8}
.char-bool {color:#f8b93c}
.char-array {color:#6db679}
.char-float {color:#9C6E25}
.char-double {color:#a66b47}
.char-string {color:#ff9999}
.char-integer {color:#1BAABB}
