.__BittrDebuger__contents .__BittrDebuger__right .__BittrDebuger__global,
.__BittrDebuger__left .__BittrDebuger__content-body .__BittrDebuger__loops .__BittrDebuger__holder:hover,
.__BittrDebuger__left .__BittrDebuger__content-nav .__BittrDebuger__top-tog {
    cursor: pointer
}

.__BittrDebuger__contents .__BittrDebuger__listed:last-child,
.__BittrDebuger__contents .__BittrDebuger__right .__BittrDebuger__global:last-child {
    border-bottom: none
}

html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    font-size: 10px;
    -webkit-tap-highlight-color: transparent
}

body {
    margin: 0 !important;
    overflow: hidden !important;
}

.__BittrDebuger__container, .__BittrDebuger__container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px
}

.__BittrDebuger__caret,
.__BittrDebuger__header .__BittrDebuger__hints .__BittrDebuger__type,
.__BittrDebuger__left .__BittrDebuger__content-nav .__BittrDebuger__top-tog {
    display: inline-block
}

*,
:after,
:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

@media (min-width:768px) {
    .__BittrDebuger__container {
        width: 750px
    }
}

@media (min-width:992px) {
    .__BittrDebuger__container {
        width: 970px
    }
}

@media (min-width:1200px) {
    .__BittrDebuger__container {
        width: 1170px
    }
}

.__BittrDebuger__row {
    margin-right: -15px;
    margin-left: -15px
}


.__BittrDebuger__col-md-3,
.__BittrDebuger__col-md-6 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px
}

@media (min-width:992px) {
    .__BittrDebuger__col-md-3,
    .__BittrDebuger__col-md-6 {
        float: left
    }

    .__BittrDebuger__col-md-6 {
        width: 50%
    }
    .__BittrDebuger__col-md-3 {
        width: 25%
    }
}

.__BittrDebuger__caret {
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-top: 4px solid\9;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent
}

.__BittrDebuger__header {
    padding: 5px;
    height: 35px;
    width: 100%
}

.__BittrDebuger__header .__BittrDebuger__hints {
    position: absolute;
    right: 0
}

.__BittrDebuger__header .__BittrDebuger__type {
    margin-left: 10px;
    width: 70px;
    text-align: center;
    border-radius: 10px;
    font-size: 10px;
    margin-top: 5px
}

.__BittrDebuger__header .__BittrDebuger__logo span,
.__BittrDebuger__header .__BittrDebuger__tops {
    display: inline-block;
    margin-left: 20px;
    vertical-align: middle
}

.__BittrDebuger__header .__BittrDebuger__logo-img {
    width: 80px;
    height: 30px;
    margin-top: -2px
}

.__BittrDebuger__header .__BittrDebuger__logo span button,
.__BittrDebuger__header .__BittrDebuger__logo span button:active,
.__BittrDebuger__header .__BittrDebuger__logo span button:active:hover {
    border: none
}

.__BittrDebuger__header .__BittrDebuger__logo span .__BittrDebuger__dropdown-menu li a {
    padding: 8px 30px
}

.__BittrDebuger__header .__BittrDebuger__logo span .__BittrDebuger__dropdown-menu .__BittrDebuger__divider {
    margin: 0
}

.__BittrDebuger__contents .__BittrDebuger__attr {
    height: 96vh;
    padding: 0!important
}

.__BittrDebuger__contents .__BittrDebuger__right {
    word-wrap: break-word;
    font-weight: 600!important
}

.__BittrDebuger__left .__BittrDebuger__content-nav .__BittrDebuger__top-tog {
    font-weight: 600;
    width: 34%;
    text-align: center;
    margin-left: -8px;
    padding-top: 5px;
    font-size: 12px;
    padding-bottom: 5px;
    text-transform: uppercase
}

.__BittrDebuger__left .__BittrDebuger__content-nav .__BittrDebuger__top-tog:first-child {
    padding-left: 10px;
    border-left: none;
    margin-right: -1px;
}

.__BittrDebuger__left .__BittrDebuger__content-nav .__BittrDebuger__top-tog:last-child {
    margin-left: -7px;
    border-right: none
}

.__BittrDebuger__left .__BittrDebuger__content-body {
    height: 95%
}
.__BittrDebuger__l-parent {
    margin-left: 3px;
    margin-top: 1px
    line-height: 2;
}
.__BittrDebuger__left .__BittrDebuger__content-body .__BittrDebuger__loops {
    margin-top: 3px
}


.__BittrDebuger__left .__BittrDebuger__content-body .__BittrDebuger__loops {
    width: 100%;
    display: none
}

.__BittrDebuger__left .__BittrDebuger__content-body .__BittrDebuger__loops .__BittrDebuger__holder i {
    float: right;
    margin-top: 10px;
    font-size: 10px;
    border-radius: 10px;
    padding: 1px 10px;
    font-style: normal
}

.__BittrDebuger__left .__BittrDebuger__content-body .__BittrDebuger__loops .__BittrDebuger__holder {
    padding: 5px 10px
}

.__BittrDebuger__left .__BittrDebuger__content-body .__BittrDebuger__loops div span {
    display: block
}

.__BittrDebuger__left .__BittrDebuger__content-body .__BittrDebuger__loops div .__BittrDebuger__name {
    font-weight: 600;
    padding-left: 10px
}

.__BittrDebuger__left .__BittrDebuger__content-body .__BittrDebuger__loops div .__BittrDebuger__path {
    font-size: 11px
}

.__BittrDebuger__left .__BittrDebuger__content-body .__BittrDebuger__loops .__BittrDebuger__id {
    width: 15px;
    font-size: 10px;
    text-align: center;
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    position: absolute;
    left: 4px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: inline-block;
    vertical-align: middle
}

.__BittrDebuger__left .__BittrDebuger__content-body .__BittrDebuger__loops.__BittrDebuger__active {
    display: block;
}

.__BittrDebuger__exception-type {
    padding: 10px
}

.__BittrDebuger__exception-type>.__BittrDebuger__action,
.__BittrDebuger__exception-type>span {
    display: inline-block
}

.__BittrDebuger__exception-type>.__BittrDebuger__action {
    float: right
}

.__BittrDebuger__exception-type>.__BittrDebuger__action span {
    cursor: pointer;
    font-size: 12px;
    padding: 0 10px 2px;
    border-radius: 10px
}

.__BittrDebuger__exception-type>span {
    border-radius: 10px;
    padding: 3px 10px
}

.__BittrDebuger__exception-msg {
    padding: 10px;
    font-size: 13px
}

.__BittrDebuger__active-desc {
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 10px 10px;
    font-size: 12px;
    z-index: 4 !important;
}

.__BittrDebuger__active-desc .__BittrDebuger__file b {
    font-size: 10px;
    margin-top: -5px
}

.__BittrDebuger__browser-view {
    height: 90.__BittrDebuger__3vh
}

.__BittrDebuger__code-view table {
    font-size: 12px;
    font-weight: 400;
    width: 100%;
    white-space: nowrap;
    table-layout: fixed;
    border-collapse: collapse
}

.__BittrDebuger__code-view table .__BittrDebuger__function,
.__BittrDebuger__code-view table .__BittrDebuger__keyword {
    font-weight: 600;
}

.__BittrDebuger__code-view table tr td:first-child {
    width: 60px;
    text-align: center
}

.__BittrDebuger__code-view table tr .__BittrDebuger__line-content {
    padding-left: 5px
}

.__BittrDebuger__code-view table .__BittrDebuger__highlighted td {
    padding: 8px 0!important
}

.__BittrDebuger__code-view table .__BittrDebuger__highlighted td:first-child {
    border: none;
    font-weight: 700
}

.__BittrDebuger__contents .__BittrDebuger__right .__BittrDebuger__global:first-child {
    border-top: none
}

.__BittrDebuger__contents .__BittrDebuger__right .__BittrDebuger__global .__BittrDebuger__env-arr {
    padding-left: 20px
}

.__BittrDebuger__contents .__BittrDebuger__right .__BittrDebuger__global .__BittrDebuger__content {
    cursor: default
}

.__BittrDebuger__contents .__BittrDebuger__right .__BittrDebuger__global .__BittrDebuger__content .__BittrDebuger__caret {
    cursor: pointer
}

.__BittrDebuger__contents .__BittrDebuger__right .__BittrDebuger__global .__BittrDebuger__content,
.__BittrDebuger__contents .__BittrDebuger__right .__BittrDebuger__global .__BittrDebuger__labeled {
    display: block;
}

.__BittrDebuger__contents .__BittrDebuger__right .__BittrDebuger__global .__BittrDebuger__labeled {
    font-weight: 600;
    padding: 10px
}

.__BittrDebuger__contents .__BittrDebuger__listed {
    padding: 5px 14px 5px 10px
}

.__BittrDebuger__contents .__BittrDebuger__right .__BittrDebuger__global .__BittrDebuger__content {
    padding: 5px 0;
    width: 104%;
}

.__BittrDebuger__contents .__BittrDebuger__listed .__BittrDebuger__index,
.__BittrDebuger__contents .__BittrDebuger__listed .__BittrDebuger__value {
    font-weight: 500;
    font-size: 10px
}

.__BittrDebuger__ss-wrapper {
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: relative;
    float: left;
}

.__BittrDebuger__ss-content {
    height: 100%;
    width: 104%;
    position: relative;
    overflow: auto;
    box-sizing: border-box;
}

.__BittrDebuger__ss-scroll {
    position: relative;
    width: 6px;
    border-radius: 4px;
    top: 0;
    z-index: 2;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.__BittrDebuger__25s linear;
}

.__BittrDebuger__ss-hidden {
    display: none;
}

.__BittrDebuger__ss-container:hover .__BittrDebuger__ss-scroll {
    opacity: 1;
}

.__BittrDebuger__ss-grabbed {
    -o-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}