body{
    background: #343c45;
    color: #f5f7fa;
}
.header{
    background: #252c33;
    border-bottom: 1px solid #000000;
    padding: 5px 5px;
    height: 35px;
    width: 100%;
    color: #c1c9d4;
}
.header .type {
    float: right;
    margin-left: 10px;
    width: 70px;
    text-align: center;
    border-radius: 10px;
    color: #fff;
    font-size: 10px;
    margin-top: 5px;
}
.contents {
    border-top: 1px solid #555e65;
}
.contents .attr {
    color: #d8dadd;
    height: 96vh;
    padding: 0 !important;
}
.contents .left {
    background: #343c45;
    border-right: 1px solid #555e65;
}
.contents .middle {
    background: #131c26;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
}
.contents .right {
    background: #363e47;
    border-left: 1px solid #363e47;
    word-wrap: break-word;
}

.left .content-nav {
    border-bottom: 1px solid #000;
}
.left .content-nav .top-tog {
    display: inline-block;
    font-weight: 500;
    width: 17%;
    text-align: center;
    color: #d8dadd;
    margin-left: -4px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-right: 1px solid #000;
    border-left: 1px solid #555e65;
    cursor: pointer;
}
.left .content-nav .top-tog:first-child {
    margin-left: 5px;
    border-left: none;
    cursor: default;
}
.left .content-nav .top-tog:hover, .left .content-nav .active {
    background: #252c33;
    border-left: none;
}
.left .content-nav .top-tog:first-child:hover {
    background: transparent;
}
.left .content-nav .top-tog:last-child {
    border-right: none;
}
.left .content-body{
    border-top: 1px solid #555e65;
}

.exception-type {
    background: #343c45;
    padding: 10px;
    border-bottom: 1px solid #000;
}
.exception-type span{
    background: #6789f8;
    border-radius: 10px;
    font-weight: bold;
    padding: 3px 10px;
}
.exception-msg {
    padding: 10px;
    background: #343c45;
    border-top: 1px solid #555e65;
    border-bottom: 1px solid #555e65;
    font-weight: bold;
    font-size: 15px;
}
.code-view {
    border-top: 1px solid #000;
}
.code-view table {
    font-family: 'Fira Mono', monospace;
    font-size: 13px;
    font-weight: 400;
    width: 100%;
}
.code-view table .keyword {
    font-weight: 500;
}
.code-view table tr .line-number{
    padding-left: 5px;
    padding-right: 10px;
    background: #24374b;
    border-right: 1px solid #0b1016;
}
.code-view table tr .line-content{
    padding-left: 5px;
}
.code-view table .highlighted td{
    background: rgba(36, 55, 75, 0.5);
    padding: 8px 5px !important;
    border-top: 1px solid #000;
    border-bottom: 1px solid #343c45;
}
.code-view table .highlighted td:first-child{
    background: rgba(36, 55, 75, 1);
    color: #ec4c4e;
    border-top: none;
    border-bottom: none;
}
.contents .right .global {
    border-top: 1px solid #555e65;
    border-bottom: 1px solid #0d1012;
    cursor: pointer;
}
.contents .right .global:first-child {
    border-top:none;
}
.contents .right .global:last-child {
    border-bottom:none;
}
.contents .right .global .labeled, .contents .right .global .content {
    display: block;
}
.contents .right .global .labeled {
    font-weight: 500;
    padding: 10px;
}
.contents .listed {
    padding: 5px 10px;
    border-bottom: 1px solid #313a46;
}
.contents .listed:last-child {
    border-bottom: none;
}
.contents .right .global .content {
    background: #131c26;
    padding: 5px 0px;
}
.contents .listed .index {
    font-weight: 500;
    color: #3689b2;
    font-size: 10px;
}
.contents .listed .value {
    font-weight: 500;
    font-size: 10px;
}
